{% extends 'base.html.twig' %}

{% block title %}Apropos
{% endblock %}

{% block body %}


	<!-- start banner Area -->
	<section class="about-banner relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						A PROPOS
					</h1>
					<p class="text-white link-nav">
						<a>ACCUEIL
						</a>
						<span class="lnr lnr-arrow-right"></span>
						<a>
							A PROPOS</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="about-info-area section-gap">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 info-left">
					<img class="img-fluid" src="pro3.jpg" alt="">
				</div>
				<div class="col-lg-6 info-right">
					<h6>
						A PROPOS D'ATYPIK HOUSE</h6>
					<h1>QUI SOMMES-NOUS?</h1>
					<p>
						AtypikHouse » est une nouvelle SARL au capital de 10 000€ composée de 3 associés partageant 
																																																	les mêmes passions pour les voyages, l‘habitat alternatif et la vie en harmonie avec la nature.
																																																	En réunissant leurs moyens techniques et financiers, leurs compétences et leur amitié, ils ont créé leur 
																																																	société sur la location d’habitations insolites, comme les cabanes dans les arbres, les yourtes ou les cabanes 
																																																	flottantes...
																																																	La société « AtypikHouse » est basée dans la localité de Pierrefonds, dans le département de l’Oise et 
																																																	cherche à mettre en place un service de location d’habitat alternatif en France et en Europe.
																																													                 AtypikHouse » est une nouvelle SARL au capital de 10 000€ composée de 3 associés partageant 
																																																	les mêmes passions pour les voyages, l‘habitat alternatif et la vie en harmonie avec la nature.
																																																	En réunissant leurs moyens techniques et financiers, leurs compétences et leur amitié, ils ont créé leur 
																																																	société sur la location d’habitations insolites, comme les cabanes dans les arbres, les yourtes ou les cabanes 
																																																	flottantes...
																																																	La société « AtypikHouse » est basée dans la localité de Pierrefonds, dans le département de l’Oise et 
																																																	cherche à mettre en place un service de location d’habitat alternatif en France et en Europe.
					</p>
				</div>
			</div>
		</div>
	</section>
</p></p>{% endblock %}
