{% extends 'base.html.twig' %}

{% block title %}CGU
{% endblock %}

{% block body %}
	<section class="about-banner relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						CGU
					</h1>
					<p class="text-white link-nav">
						<a>ACCUEIL
						</a>
						<span class="lnr lnr-arrow-right"></span>
						<a>
							CGU</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<section class="about-info-area section-gap">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 info-left">
						<img class="img-fluid" src="CGU.jpg" alt="">
					</div>
					<div class="col-lg-6 info-right">
						<h6></h6>
						<h1>CGU/CGV</h1>
						<p>
							En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site www.atipykehousse.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi. Propriétaire : Atipykehousse – SARL - SIRET ************ - Pierrefonds - 60350 pierrefonds - France Développement : agence web HasaWeb
																					2 - CONDITIONS GÉNÉRALES D’UTILISATION DU SITE ET DES SERVICES PROPOSÉS L’utilisation du site implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment. Les utilisateurs du site sont donc invités à les consulter de manière régulière. Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par Atipykehousse qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention. Le site est mis à jour régulièrement par la direction.
																					3 - DESCRIPTION DES SERVICES FOURNIS Le site Atipykehousse.fr est une plateforme de réservation spécialisée dans la commercialisation d'hébergements insolites et atypiques. Atipykehousse s’efforce de fournir sur le site des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des omissions, des inexactitudes ou des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations. Toutes les informations indiquées sur le site sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.
																					4 - CONDITIONS D'ANNULATION ET DE REMBOURSEMENT Les conditions d’annulation, de modification ou de remboursement sont variables en fonction de la prestation choisie. Vous pouvez consulter les conditions générales de vente de nos partenaires avant de procéder au règlement de votre séjour ou sur votre confirmation de réservation. Le droit de rétractation ne s'applique pas dans le cadre de prestations de services d'hébergements dont la date de réservation est définie, conformément à l'article L221-28 du code de la consommation. Concernant les bons et les cartes cadeaux, l'acheteur est informé qu'il bénéficie d'un délai de 14 jours francs afin d'exercer son droit de rétractation (article L121-20 du code de la consommation). Passé ce délai ou en cas de consommation partielle de la carte cadeau, aucun remboursement ne pourra être requis.
																					5 - PROPRIÉTÉ INTELLECTUELLE ET CONTREFAÇONS Atipukehousse est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logos, icônes, sons, logiciels. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quelque soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de Atipykehousse. Toute exploitation non autorisée du site ou de l’un de ses éléments sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L. 335-2 et suivants du Code de Propriété Intellectuelle.
																					6 - LIMITATIONS DE RESPONSABILITE Atipykehousse ne pourra être tenue responsable des dommages directs et indirects causés au matériel du visiteur, lors de l’accès au site, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées dans la section « Limitations contractuelles sur les données techniques », soit de l’apparition d’un bug ou d’une incompatibilité. Atipykehousse ne pourra également être tenue responsable des dommages indirects consécutifs à l’utilisation du site.
																					7 - DONNEES PERSONNELLES En France, les données personnelles sont notamment protégées par la loi n° 78- 87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l’article L. 226-13 du Code pénal, la Directive Européenne du 24 octobre 1995 et le règlement n° 2016/679, règlement général sur la protection des données (RGPD). À l’occasion de l’utilisation du site peuvent être recueillis : l’URL des liens par l’intermédiaire desquels l’utilisateur a accédé au site, le fournisseur d’accès de l’utilisateur, l’adresse de protocole Internet (IP) de l’utilisateur. En tout état de cause, Atipykehousse ne collecte des informations personnelles relatives à l’utilisateur que pour le besoin de certains services proposés par le site, comme lors de la réservation d'un hébergement (Civilité, Prénom, Nom de famille, Date de naissance, Adresse, Ville, Pays, Numéro de téléphone, Email). L’utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu’il procède par lui-même à leur saisie. Il est alors précisé à l’utilisateur du site l’obligation ou non de fournir ces informations. Conformément au règlement n° 2016/679, règlement général sur la protection des données (RGPD), les données de facturation pourront être conservées pour une période de 6 ans, et les données marketing pour une période de 3 ans. Les pages et formulaires collectant des données personnelles sont sécurisées et chiffrées grâce au protocole SSL. Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite : Par email : contact @atipykehousse.fr Aucune information personnelle de l’utilisateur du site n’est publiée à l’insu de l’utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l’hypothèse du rachat de SUR MESURE et de ses droits permettrait la transmission des dites informations à l’éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis-à-vis de l’utilisateur du site. • Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données. •
																					8 - LIENS HYPERTEXTE ET COOKIES • La navigation sur le site est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent • à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation. • Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. En savoir plus sur l'utilisation des cookies sur le site. 
																					9 - DROIT APPLICABLE ET ATTRIBUTION DE JURIDICTION • Tout litige en relation avec l’utilisation du site est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris. • Loi n° 78-87 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l’informatique, aux fichiers et aux libertés. • Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique. IIX
						</p>
					</div>
				</div>
			</div>
		</section>


	</div>
{% endblock %}
