{% extends 'base.html.twig' %}

{% block title %}Hello MesreservationController!
{% endblock %}

{% block body %}
	<section class="about-banner relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						HISTORIQUE DE RESERVATIONS
					</h1>
					<p class="text-white link-nav">
						<a>ACCUEIL
						</a>
						<span class="lnr lnr-arrow-right"></span>
						<a>
							HISTORIQUE DE RESERVATIONS</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<h2>mes reservation
	</h2>
	{% for reservation in app.user.reservations %}
		{{dump(reservation)}}

		<tr>
			<td class"reservation" width="120px"><img width="120px" src={{ reservation.produit.photo }} alt=""></td>
			<td class="mes">{{ reservation.produit.prix }}</td>
		</tr>
	{% endfor %}

{% endblock %}
